/* table */

.ant-table {
    font-size: 9px;
}

/* row data */

.ant-table-tbody>tr>td {
    height: 5px;
    padding: 4px;
}

/* row tags */

.my-tag {
    font-size: 12px;
}

.ant-table-thead>tr>th {
    height: 5px;
    padding: 4px;
}

mat-sort-header-arrow {
    font-size: 16px;
}

mat-sort-header {
    font-size: 11px;
    font-weight: bold;
    width: 75px;
    padding: 2px 2px 2px 2px
}

::deep .grid th, ::deep .grid td {
    text-align: center;
    line-height: 1rem;
    padding: 3px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.main-table {
    grid-row: 1 / 2;
    grid-column: 1;
}

.askbid-table {
    grid-row: 1;
    grid-column: 2;
}

button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
}